* {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
    background: #f4efef;
}

body > div {
    border: solid 1px green;
    display: flex;
    margin: 1.5rem;
}

.left {
    background: #eceaea;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.left h1 {
    font-family: "Lora";
    font-weight: 600;
    font-size: 14rem;
    background: black;
    color: #f4efef;
    align-items: stretch;
    margin-bottom: 2rem;
}

.left h2 {
    font-family: "Roboto";
    font-size: 1.5rem;
    line-height: 2rem;
    background: black;
    color: #f4efef;
    align-items: center;
    margin: 1rem 3rem;
}

.line {
    border: 0.5px black solid;
    margin: 1.5rem 3rem;
}

.right {
    border: solid 1px orangered;
    flex: 3;
}

.right-header {
    border: black solid 1px;
    display: flex;
    align-items: center;
    height: 14rem;
}

.right-header h1 {
    font-family: "Roboto";
    font-size: 7rem;
    font-weight: 300;
}

.right-header h1 span {
    font-family: "Roboto";
    font-size: 7rem;
    font-weight: 300;
    color: grey;
}