* {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
    background: #f4efef;
}

body > div {
    display: flex;
    margin: 1.5rem;
}

.left {
    background: #eceaea;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.left h1 {
    font-family: "Lora";
    font-weight: 600;
    font-size: 14rem;
    background: black;
    color: #f4efef;
    align-items: stretch;
    margin-bottom: 2rem;
}

.left h2 {
    font-family: "Roboto";
    font-size: 1.5rem;
    line-height: 2rem;
    background: black;
    color: #f4efef;
    align-items: center;
    margin: 1rem 3rem;
}

.line {
    border: 0.5px black solid;
    margin: 1.5rem 3rem;
}

.right {
    flex: 3;
}

.right-header {
    display: flex;
    align-items: center;
    text-indent: 6.5rem;
    height: 14.3rem;
}

.right-header h1 {
    font-family: "Roboto";
    font-size: 7rem;
    font-weight: 300;
}

.right-header h1 span {
    font-family: "Roboto";
    font-size: 7rem;
    font-weight: 300;
    color: grey;
}

.weekdays-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.weekdays {
    margin: 0.7rem;
    display: flex;
    justify-content: center;
    font-family: "Roboto";
    font-size: 2.5rem;
    color: #f4efef;
    width: 13rem;
    background: black;
}

.month-days-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.month-days {
    font-family: "Roboto";
    margin: 1.2rem;
    padding-top: 0.5rem;
    font-family: "Roboto";
    font-size: 1.5rem;
    text-indent: 0.5rem;
    color: black;
    width: 12rem;
    height: 8rem;
    border: solid black;
    border-width: 0.5px 1px 1px 0.5px;
}