* {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
}

body > div {
    display: flex;
}

.left {
    border: solid 1px pink;
    background: #eceaea;
    display: flex;
    flex-direction: column;
}

.right {
    border: solid 1px orangered;
}

.left h1 {
    font-family: "Lora";
    font-weight: 600;
    font-size: 10.0rem;
    background: black;
    color: white;
    align-items: stretch;
    margin-bottom: 2rem;
}

.left h2 {
    font: "Roboto";
    font-size: 1.5rem;
    background: black;
    color: white;
    align-items: center;
    margin: 1rem 1rem;
}

.line {
    border: 0.5px black solid;
    margin: 1.5rem 1.5rem;
}